body {
    background-color: #eee;
}

header {
    background-color: #ddd;
}

nav {
    margin: 10px;
}
#variations {
    background-color: #dfdfdf;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: 1px dotted black;
    padding: 10px;
}

th, td {
    border: 1px dotted black;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    color: #111;
    border-bottom: 1px;
}