{% extends 'main.html' %}

{% block students_list %}
    <h1>Список студентов для {{ user_name }}</h1>
    {{ message }}

    {% if students %}
        <table>
            <tr>
                <th>№</th><th>Имя</th><th>Фамилия</th><th>Группа-Факультет</th>
            </tr>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td><td>{{ student.name }}</td>
                    <td>{{ student.family }}</td><td>{{ student.group }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <a class="navigation" href="/studedit/add/">Добавить студента</a>
    {% else %}
        <h2>Студентов не найдено</h2>
        <a class="navigation" href="/studedit/add/">Добавить студента</a>
    {% endif %}
    <p><a class="navigation" href="/authorisation/action/">В начало</a> </p>
{% endblock %}