{% extends 'main.html' %}
{% block group_list %}
{% if user_name %}
    {% if groups %}
        <h1>Найдены группы</h1>
        <table>
            <tr>
                <th>№</th><th>Группа</th><th>Факультет</th><th>Год создания</th>
            </tr>
            {% for group in groups %}
                <tr>
                    <td>{{ group.id }}</td><td>{{ group.name }}</td>
                    <td>{{ group.faculty }}</td><td>{{ group.year }}</td>
                </tr>
            {% endfor %}
        </table>
        <p><a href="/groupedit/add/">Добавить группу</a></p>
        <p><a href="/authorisation/action/">В начало</a> </p>
    {% else %}
        <h1>Групп не найдено</h1>
        <a href="/groupedit/add/">Добавить группу</a>
    {% endif %}
{% else %}
    <h2>Вы не авторизованы в системе</h2>
    <a href="/authorisation/login/">Воити в систему</a>
{% endif %}
{% endblock %}