{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>Studeditor-2</title>
    <link type="text/css" rel="stylesheet" href="{% static 'studedit/style.css' %}"/>
</head>
<body>
<header>
    <section>
        <ul>
            {% if user_name %}
                <li><a href="/authorisation/logout/">Выйти ({{ user_name }})</a></li>
            {% else %}
                <li><a href="/authorisation/login/">Войти</a>
                    {% block login %}{% endblock %}</li>
            {% endif %}
        </ul>
    </section>
</header>
<div>
    {% if user_name %}
        <h1>Вы вошли как: {{ user_name }}</h1>
        <a class="navigation" href="/groupedit/">Редактировать группы</a>
        <a class="navigation" href="/studedit/">Редактировать список студентов</a>
        <div class="content">
            {% block action %}{% endblock %}
            {% block group_list %}{% endblock %}
            {% block add_group %}{% endblock %}
            {% block students_list %}{% endblock %}
            {% block add_student %}{% endblock %}
        </div>
    {% else %}
        <h1>Вам нужно войти в систему</h1>
    {% endif %}
</div>
</body>
</html>